<div class="about-us">
    <div class="about-us-header">
        <div class="text">
            <h1>О НАС</h1>
        </div>
        <img src="/assets/img/aboutus-header.png" alt="">
    </div>
    <div class="who-is-us">
      <div class="who-is-us-container">
        <h1>Чем мы занимаемся?</h1>
        <p>Основная цель скаутинга — это развитие человека (как ребенка, та так и взрослого) способом, именуемым в международной практике, который зовётся Скаутский Принцип. Принцип этот состоит с 8 пунктов, среди которых : работать в малых группах, жизнь на природе, применение в жизни скаутского закона, жизнь на благо социума и т.д.
          <br/><br/>
          В разноплановых мероприятиях ( от обычных сборов на праздник до лагерей и походов) скаут познает себя и мир, становясь все лучше и лучше.
        </p>
      </div>
    </div>
    <div class="who-is-scout">
      <div class="who-is-scout-container">
        <img src="/assets/img/main-page-nadya.png" alt="" class="who-is-scout-photo">
      </div>
      <div class="who-is-scout-container who-is-scout-container-text">
        <div class="who-is-scout-container-container">
          <h1>Кто такой скаут?</h1>
          <p>Скаут — это человек, который улучшает себя физически и интеллектуально, улучшает свои моральные принципы через скаутскую жизнь на природе и работу в группах.

          </p>
        </div>
      </div>
    </div>
    <div class="hisory">

    </div>
    <div class="ages">
      <div class="scout">
        <div class="ages-scout-container">
          <div class="ages-scout-text">
            <h1>Каб - скауты</h1>
            <p>Каб-скауты - дети от 6 - ти до 12 - ти лет. Который только познают мир и получают базу о скаутинге. У них более развлекательная программа, нежели у скаутов.</p>
          </div>
        </div>
          <div class="ages-scout-container"><img src="/assets/img/каб.jpg" alt=""></div>
        </div>
        <div class="scout">
          <div class="ages-scout-container"><img src="/assets/img/скаут.jpg" alt=""></div>
          <div class="ages-scout-container">
            <div class="ages-scout-text">
              <h1>Скауты</h1>
              <p>Скауты — подростки от 12 до 17 лет. Они составляют основную часть скаутинга и именно на их долю пропадает самый долгий и насыщенный путь. Ведь они проходят дорогу от неопытного каба до уже осознанного и сформированного юноши или девушки.</p>
            </div>
          </div>
        </div>
        <div class="scout">
          <div class="ages-scout-container">
            <div class="ages-scout-text">
              <h1>Скаут - лидеры</h1>
              <p>Лидеры — это скауты старше 18 лет, которые не только улучшаются через скаутинг, но и в их руках важная обязанность — учить и помогать младшим жить по скаутскому закону и набираться новых навыков.</p>
            </div>
          </div>
          <div class="ages-scout-container"><img src="/assets/img/лидер.jpg" alt=""></div>
        </div>
    </div>
</div>
