.about-us{
  .about-us-header{
    width: 100%;
    position: relative;
    .text{
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      h1{
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 80px;
        border-top: 3px solid black;
      }
    }
    img{
      width: 100%;
    }
  }
  .who-is-us{
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
    .who-is-us-container{
      padding-top: 50px;
      padding-bottom: 50px;
      width: 80%;
      h1{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 30px;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 55px;
      }
      p{
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 30px;
      }
    }
  }
  .who-is-scout{
    display: flex;
    .who-is-scout-container{
      width: 50%;
      img.who-is-scout-photo{
        width: 100%;
      }
      .who-is-scout-container-container{
        width: 80%;
        height: 80%;
        display: block;
        h1{
          font-family: 'Roboto', sans-serif;
          font-weight: 900;
          font-size: 55px;
          padding-bottom: 20px;
        }
        p{
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 35px;
        }
      }
    }
    .who-is-scout-container-text{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media screen and (max-width: 575px){
    .who-is-scout{
      display: block;
      .who-is-scout-container{
        width: 100%;
      }
    }
  }
  .ages{
    display: block;
    width: 100%;
    .scout{
      display: flex;
      width: 100%;
      .ages-scout-container{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 100%;
        }
        .ages-scout-text{
          width: 80%;
          h1{
            font-family: 'Roboto', sans-serif;
            font-weight: 900;
            font-size: 45px;
            padding-bottom: 20px;
          }
          p{
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 25px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px){
  .about-us{
    .about-us-header{
      .text{
        h1{
          font-size: 50px;
        }
      }
      img{
        width: 100%;
      }
    }
    .who-is-us{
      background-color: #c4c4c4;
      display: flex;
      justify-content: center;
      .who-is-us-container{
        padding-top: 50px;
        padding-bottom: 50px;
        width: 80%;
        h1{
          text-align: center;
          padding-top: 10px;
          padding-bottom: 30px;
          font-family: 'Roboto', sans-serif;
          font-weight: 900;
          font-size: 55px;
        }
        p{
          text-align: center;
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          font-size: 20px;
        }
      }
    }
    .who-is-scout{
      .who-is-scout-container{
        .who-is-scout-container-container{
          h1{
            font-size: 35px;
          }
          p{
            font-size: 20px;
          }
        }
      }
      .who-is-scout-container-text{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .ages{
      .scout{
        .ages-scout-container{
          .ages-scout-text{
            h1{
              font-size: 30px;
            }
            p{
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 575px){
  .about-us{
    .about-us-header{
      .text{
        h1{
          font-size: 30px;
        }
      }
      img{
        width: 100%;
      }
    }
    .who-is-us{
      .who-is-us-container{
        h1{
          font-size: 35px;
        }
        p{
          text-align: left;
          font-size: 20px;
        }
      }
    }
    .who-is-scout{
      .who-is-scout-container{
        .who-is-scout-container-container{
          padding-top: 30px;
          padding-bottom: 30px;
          h1{
            font-size: 35px;
          }
          p{
            font-size: 20px;
          }
        }
      }
      .who-is-scout-container-text{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .ages{
      border-top: 1px solid #000;
      .scout{
        padding-bottom: 10px;
        display: block;
        .ages-scout-container{
          width: 100%;
          .ages-scout-text{
            padding-top: 30px;
            padding-bottom: 30px;
            h1{
              font-size: 30px;
            }
            p{
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
