.admin-users-requests{
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  .aur-inner{
    width: 80%;
    .aur-h1{
      width: 100%;
      span{
        height: 5px;
        width: 45px;
        background-color: #000;
        display: block;
      }
      h1{
        font-weight: 900;
        font-size: 50px;
        display: block;
      }
      @media screen and (max-width: 575px){
        h1{
          font-size: 30px;
        }
      }
    }
    .aur-main{
      .user-request{
        margin: 1%;
        width: 30%;
        display: inline-block;
        border: 1px solid #D9D9D9;
        .user-request-inner{
          padding: 5px 5px 5px 5px;
          display: block;
          .request-number{
            display: block;
            width: 100%;
            text-align: center;
            p{
              font-weight: 900;
              font-size: 25px;
            }
          }
          .request-info{
            width: 100%;
            display: block;
            p{
              font-size: 25px;
            }
          }
          .buttons{
            width: 100%;
            display: flex;
            justify-content: space-between;
            .container-a{
              margin-top: 17px;
              .container-inner-a{
                  display: flex;
                  justify-content: center;
                  a{
                      text-align: center;
                      padding-left: 13px;
                      padding-right: 13px;
                      padding-top: 9px;
                      padding-bottom: 9px;
                      color: white;
                      background-color: black;
                      border-top: 2px solid black;
                      border-bottom: 2px solid black;
                      border-right: 2px solid black;
                      border-left: 2px solid black;
                      text-decoration: none;
                      font-size: 20px;
                      font-family: 'Roboto', sans-serif;
                      font-weight: 400;
                      transition: 0.2s;
                  }
                  a:hover{
                      color: black;
                      background-color: rgba(0, 125, 215, 0);
                      cursor: pointer;
                      transition: 0.2s;
                  }
              }
          }
          }
        }
      }
      @media screen and (max-width: 991px){
        .user-request{
          width: 100%;
        }
      }
    }
  }
}
