<footer>
    <div class="footer">
        <div class="text">
            <h1>СВЯЖИТЕСЬ<br/>С НАМИ</h1>
            <p class="street">
                ул. Литейная, 3. Денпр, Украина
            </p>
            <p class="phone">
                Телефон: +38(073)-200-10-96
            </p>
            <p class="email">
                E-mail: dobbikov@gmail.com
            </p>
            <div class="societys">

            </div>
            <p class="developer">
                © Developer: Roman Dobbikov.
            </p>
        </div>
        <div class="write-us">
            <div class="input-data"><input type="text" placeholder="Имя" #name></div>
            <div class="input-data"><input type="text" placeholder="Телефон" #phone></div>
            <div class="input-data"><input type="text" placeholder="Эл. почта" #email></div>
            <div class="input-data input-data-write-text"><textarea type="text" placeholder="Добавьте сообщение..." #writetext></textarea></div>
            <div class="container-a"><div class="container-inner-a"><a>Отправить</a></div></div>
        </div>
    </div>
</footer>
