<nav>
    <app-your-acc-nav [activeComp]='5' class="nav"></app-your-acc-nav>
</nav>
    <div class="docs-post">
    <img src="/assets/img/docs-main-photo.png" alt="">
    <div class="text">
        <div class="text-inner">
            <div class="text-inner-h1">
                <h1>Документация</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container-inner">
            <div class="container-inner-inner">
                <div class="container-inner-title container-inner-child">
                    <h1>{{post.name}}</h1>
                </div>
                <div class="container-inner-text container-inner-child">
                    <p>{{post.text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
