<!-- <h1>{{post.title}}</h1>
<h2>{{post.shortText}}</h2>
<p>{{post.text}}</p>
<a [routerLink]="['/news']">Назад</a> -->
<div class="news-post">
    <img src="/assets/img/blog-header.png" alt="">
    <div class="text">
        <div class="text-inner">
            <div class="text-inner-h1">
                <h1>Блог</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container-inner">
            <div class="container-inner-inner">
                <div class="container-inner-title container-inner-child">
                    <h1>{{post.title}}</h1>
                </div>
                <div class="container-inner-text container-inner-child">
                    <p>{{post.text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
